[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = TuanUTT0211
	email = YOSHIDAHIDETOSHI123@GMAIL.COM
[safe]
	directory = C:/Git
